@model IEnumerable<Interdisciplinary.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<header class="top-header">
    <h1>
        KATEGORIER
    </h1>
</header>
<div class="table-wrapper">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.CategoryID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.CategoryID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.CategoryID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <p>
        <a asp-action="Create" class="create-button">Create New</a>
    </p>
</div>